@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("img/universe.jpg");
  background-repeat: repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  font-family: "S-CoreDream-3Light";
}
.container {
  margin: 30px 0;
  width: 900px;
  min-height: 100vh;
  color: white;
}
.main_intro {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  font-family: "PyeongChangPeace-Bold";
}
.main_name {
  margin: 0;
  font-size: 80px;
  font-weight: 600;
  font-family: "PyeongChangPeace-Bold";
}
.section {
  margin-top: 40px;
}
.detail {
  padding: 30px;
  border-radius: 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #aaa;
}
.detail h4 {
  font-size: 20px;
}
.section:hover > .detail {
  color: #fff;
}

.title {
  margin: 10px;
  font-family: "PyeongChangPeace-Bold";
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 5px 0;
}

.title::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: rgb(1, 255, 73);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.section:hover > .title:after {
  width: 100%;
  left: 0;
}
.about {
  display: flex;
}
.about p {
  margin: 0;
}

.about a {
  text-decoration: none;
  color: #aaa;
}
.section:hover > .about a {
  color: #fff;
}
.profile {
  width: 300px;
  margin: auto;
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: 0.5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: 0.5s ease-in-out;
}
.section:hover > .about .profile {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 0.5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 0.5s ease-in-out;
}

.me {
  margin: auto;
}
.portfolio {
  display: flex;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #aaa;
}

.portfolio_img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: 0.5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: 0.5s ease-in-out;
  cursor: pointer;
}
.portsection:hover > .portfolio_img {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 0.5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 0.5s ease-in-out;
}

.portsection:hover > p {
  color: #fff;
}

.portsection:hover > h4 {
  color: rgb(1, 255, 73);
}
